@model RoomModel

@{
    ViewData["Title"] = "Nueva Habitacion";
}

<h1 class="text-center">Nueva Habitacion</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CreateRoom" onsubmit="return confirmAction()">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="roomNumber" class="control-label">Numero de Habitacion</label>
                    <input asp-for="roomNumber" class="form-control" />
                    <span asp-validation-for="roomNumber" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="roomType" class="control-label">Tipo de Habitacion</label>
                    <select asp-for="roomType" class="form-select">
                        <option value="">Seleccione un tipo de habitación</option>
                        <option value="Individual">Individual</option>
                        <option value="Doble">Doble</option>
                        <option value="Suite">Suite</option>
                        <option value="Premium">Premium</option>
                        <!-- Agrega más opciones según los tipos disponibles -->
                    </select>
                    <span asp-validation-for="roomType" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="roomPrice" class="control-label">Precio de Habitacion</label>
                    <input asp-for="roomPrice" class="form-control" />
                    <span asp-validation-for="roomPrice" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="HotelId" class="control-label">Hotel</label>
                    <select asp-for="HotelId" class="form-select" asp-items="@ViewBag.Hotels">
                        <option value="">Seleccione un hotel</option>
                    </select>
                    <span asp-validation-for="HotelId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="ViewRoom" class="btn btn-secondary">Regresar al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de Añadir esta Habitacion?')) {
                return true;
            } else {
                window.location.href = '@Url.Action("ViewRoom", "Room")';
                return false;
            }
        }
    </script>
}
